
.footer
{
	background-color: #152d4d;
	padding-top: 20px;
	padding-bottom: 7px;
	color : white;
}

.row-content
{
	border-bottom: 1px ridge;
	min-height: 300px;
}

.jumbotron
{
	padding: 70px 30px 70px 30px;
	background-color: #152d4d;
	color : white;
}

.info
{
	padding-left: 20px;
}

.footer
{
	padding-top: 50px;
}